@font-face {
  font-family: 'Jalnan2';
  src: url('../fonts/Jalnan2TTF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body, * {
  font-family: 'Jalnan2', sans-serif !important;
}